body{
  height: 100%;
  width: 100%;
}
#start-game{
  background-color: yellow;
  height: 80px;
  width: 200px;
}
#main-block, #leaderboard{
  display: none;
}
.visible{
  display: block;
}
.matrix-element{
  background-color: red;
  width: 30px;
  position: relative;
  float: left;
}

.ui-state-default{
  background-color: blue;
}

.ui-state-hover{
  background-color: yellow;
}

#board-table{
  border: 3px;
}

#open{
  background-color: red;
}
